.ArtObject {
    width: 250px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.ArtObject:hover,
.ArtObject:active {
    background-color: #c0ddf5;
}

.Author {
    margin: 16px 0;
    color: #ccc;
}

.Image{
    flex: 1;
    width: 100px;
    height: 100px;
    resizeMode: 'contain';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}